html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html{
  font-size: 14px;
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

form {
  padding: 1rem;
}

input {
  height: 3rem!important;
}

label {
  padding: 0.5rem!important;
}

select {
  height: 3rem;
}

.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

table{
  cursor: default;
}

thead{
  background-color: slategray;
  color: white;
}

tbody{
  border-top: none!important;
}

tr.selected{
  background-color: aliceblue;
}

.card{
  margin-bottom: 1rem;
}

.card-header{
  background-color: slategray;
  color: white;
}

.form-text{
  font-size: 0.75em;
}

.accordion-button:not(.collapsed){
  color: inherit;
  background-color: aliceblue;
}

video{
  height: 15rem!important;
  width: 27rem!important;
}

.row > *{
  padding-right: unset;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  src: url('/Inter.woff2') format("woff2");
}