.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main {
  padding: 2rem 0;
  flex: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.mainInactive::before {
  height:100%;
  width:100%;
  content: '';
  top: -2rem;
  position: absolute;
  z-index: 1;
  background-color: rgba(0,0,0);
  opacity: 0.05;
}

.leftPanel{
  flex-basis: 40%;
  display: flex;
  flex-direction: column;
}

.kickLeech{
  color: lightgray;
  margin-left: 10px;
}

.kickLeech:hover{
  color: gray;
}

.kicked{
  text-decoration: line-through;
}

.rightPanel{
  flex-basis: 50%;
  min-width: 50%;
  max-width: 50%;
  display: flex;
  flex-direction: column;
}

.sessionsInfoCounter{
  margin: 0px 10px;
  background-color: darkorange;
  color: white;
  border-radius: 3px;
  padding: 3px 7px;
  font-size: 0.75rem;
}

.sessionsCam{
  margin-right: 10px;
  display: inline-block;
  cursor: default;
  padding: .25rem;
}

.sessionsAccHeader button{
  font-size: .9rem;
  padding: 0.5rem;
}

.sessionsAccBody div{
  font-size: 0.9rem;
  padding: 0.5rem;
}

.camCardButtons{
  display: flex;
  justify-content: flex-end;
}

.camCardButtons>button{
  margin-left: 0.5rem;
}

.camCardTooltip>div>div{
  left: -75px;
  position: relative;
  max-width: 400px;
}

.camsListButtons{
  display: flex;
  justify-content: flex-start;
}

.camsListButtons>button{
  margin-right: 0.5rem;
}

.footer {
  cursor: default;
  width: 100%;
  height: 6rem;
  display: flex;
  transition: all 0.25s;
  border-top: solid 1px rgb(112 128 144 / 20%);
  overflow: hidden;
  z-index: 2;
  background-color: white;
}

.footerActive{
  box-shadow: 3px -3px 10px rgb(0 0 0 / 10%);
  height: 20rem;
  transition: all 0.25s;
}

.footerForm{
  width: 100%;
  padding: 0;
}

.footerSwitch{
  cursor: pointer
}

.logo {
  background-color: tomato;
  padding: 0.25rem 0.35rem;
  font-weight: bold;
  color: white;
  border-radius: 3px;
  margin-right: 0.5rem;
  position: relative;
  top: 1px;
  user-select: none;
}

.logo>span{
  position: relative;
  top: -1px;
}

.logo>i::before{
  transform: rotate(90deg);
}

.logsContainer{
  font-size: 80%;
  display: grid;
  grid-template-columns: 1rem auto;
  grid-gap: .25rem;
  height: 10rem;
  overflow-y: auto;
  justify-content: start;
  align-items: start;
  align-content: start;
}

.logBadge{
  grid-column: 1;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
