//$enable-prefers-reduced-motion-media-query: false;

@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'bootstrap-icons/font/bootstrap-icons.css';

/*@media (prefers-reduced-motion: reduce){
    .form-control {
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;;
    }

    .form-floating > label {
        transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
    }

    .btn{
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
}*/